.layout {
	width: 100%;
	height: 100%;
	display: flex;
}

.layout-pages {
	width: calc(100% - var(--appSidebar));
	height: 100%;
	display: flex;
	overflow-y: scroll;
	padding: 128px 32px 32px 32px;
}

