.sidebar {
	width: var(--appSidebar);
	display: flex;
	flex-direction: column;
	padding: 32px;
	gap: 32px;
}

.logo {
	width: 64px;
	height: 64px; min-height: 64px;
}
.sidebar-nav {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sidebar-nav > ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.sidebar-nav > ul > li > a, .sidebar > button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;
}

.nav-link, .sidebar > button {
	color: white;
	border: 1px solid white;
	background-color: var(--appBackground);
}

.nav-link.active {
	background-color: white;
	color: var(--appBackground);
}

