.data-table {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.table-info {
	width: 100%;
	display: flex;
	justify-content: right;
	font-size: 1.6rem;
}

.table-search {
	width: 100%;
}

.table-search > label {
	font-size: 1.6rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.table-search > label > input {
	width: 100%;
	height: 32px;
	background-color: var(--appBackground);
	border: 1px solid white;
	font-size: 1.6rem;
	padding: 8px;
	color: white;
	font-family: inherit;
}

.table-search > label > input::placeholder {
	color: white;
}

.data-table > table {
	width: 100%;
}

.data-table > table > thead {
	width: 100%;
}

.data-table > table > thead > tr > th {
	text-align: left;
	font-size: 1.6rem;
}

.data-table > table > tbody > tr > td {
	font-size: 1.6rem;
}

.clickable-row {
	cursor: pointer;
}

.clickable-row:hover {
	background-color: rgba(255, 255, 255, 0.10);
}

