#root {
	width: 100%;
	height: 100%;
}

* { 
	box-sizing: border-box;
	font-size: 62.5%;
}

html {
	background-color: var(--appBackground);
	color: var(--appColor);
	font-family: 'Monaco', monospace;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	font-size: 1.6rem;
	font-family: inherit;
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, span, a {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
}
